@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,700);

/* Global */
body { font-size: 14px; font-family: "Helvetica Neue", Helvetica, sans-serif; padding: 38px 0 60px 0; }
body.fullscreen { padding-top: 58px; }
h2 { font-size: 20px; }
h2.hd { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #f2f2f2; margin: 0 -18px; padding: 12px 18px; color: #666; font-family: Georgia, serif; font-style: italic; font-size: 20px; }
i.glyphicon { position: relative; top: -1px; }
.container { max-width: 800px; }
.content { padding: 0 18px; }
form label { font-size: 12px; color: #555; }
@media only screen and (max-width : 800px) {
	h2.hd { margin: 0 -18px; }
	.content { padding: 0 18px; }
}
p.copy { text-align: center; font-size: 10px; border-top: 1px solid rgba(80,80,80,.1); margin: 20px 0 15px 0; padding: 16px 0 0 0; color: rgba(30,30,30,.8); text-shadow: 0 1px 0 rgba(255,255,255,.2); display: none; }

/* Header */
header    { background: rgba(52,170,220,0.98); text-align: center; position: relative; position: fixed; top: 0; left: 0; width: 100%; z-index: 100; text-shadow: 0 1px 0 rgba(0,0,0,.2); }
header .wrap { max-width: 800px; margin: 0 auto; position: relative; padding: 8px 10px 10px 10px; }
body.fullscreen header .wrap { padding-top: 26px; }
header h1 { font-family: "Lobster Two", Helvetica, sans-serif; color: #fff; font-weight: normal; font-size: 20px; margin: 0; padding: 0; }
header h1 a { color: #eee; }
header h1 a:hover { color: #fff; }
header a.refresh { color: #fff; position: absolute; bottom: 8px; right: 18px; }
header a.dish-menu { color: #fff; position: absolute; bottom: 8px; left: 18px; }
header i.glyphicon { position: relative; top: -1px; }
header a.dish-menu-missing { color: #b00; }
header a:hover { text-decoration: none; }

/* Footer */
footer { position: fixed; bottom: 0; left: 0; width: 100%; border-top: 1px solid #ccc; z-index: 100; background: rgba(245,245,245,0.98); }
footer nav { max-width: 800px; margin: 0 auto; padding: 0; }
footer ul { list-style-type: none; margin: 0; padding: 0; margin: 0 auto; padding: 10px 18px; font-size: 17px; }
footer li { float: left; }
footer li.reservations {}
footer li.dishes { float: right; }
footer a { color: #5AC8FA; text-decoration: none; }
footer a:hover { text-decoration: none; }
footer a i.glyphicon { font-size: 90%; margin-right: 6px; position: relative; top: -1px; }

/* Tables */
table td form { margin: 0; padding: 0; }
table td input[type=text], table td .input-append { margin: 0; }
table th.index { width: 1%; text-align: right; }
table td.index { width: 1%; text-align: right; padding-top: 15px !important; padding-right: 10px !important; padding-left: 15px !important; }
table td.name { width: 75%; }
table td.price { width: 11%; }
table td.price input { min-width: 66px; }
table td.price input { width: 60px; text-align: right; }
table th.actions { text-align: center; }
table td.actions { width: 1%; text-align: center; white-space: nowrap; }
table td input { margin-right: 0; }

/* My reservation */
.my-reservation form { padding: 20px 0 40px 0; }

/* Reservation complete overview */
.complete-overview { margin: 0 0 30px 0;}
.complete-overview ul { list-style-type: none; margin: 0; padding: 0; border-bottom: 2px solid #ddd; }
.complete-overview li { border-top: 1px solid #eee; padding: 8px 0; font-family: Georgia, serif; font-size: 12px; position: relative; }
.complete-overview li strong { color: #91B609; margin-right: 7px; font-size: 17px; }
.complete-overview li i.glyphicon { font-size: 70%; }
.complete-overview .code { font-style: normal; color: #FF2D55; font-weight: bold; margin-left: 7px; font-size: 17px; }
.complete-overview .code i { opacity: 0.6; }
.complete-overview .dish { font-family: Georgia, serif; font-size: 16px; margin-left: 8px; }
.complete-overview .price { position: absolute; top: 10px; right: 0; text-align: right; color: #91B609; font-size: 16px; background: #fff; box-shadow: 0 0 7px 5px rgba(255,255,255,1); padding-left: 4px; }
.complete-overview blockquote { margin: 20px 0 10px 0; }
.complete-overview blockquote em { font-weight: bold; font-family: Georgia, serif; }
.complete-overview p.notes { font-size: 12px; color: #aaa; line-height: 160%; padding: 5px 0 0 36px; margin: 0; font-family: Helvetica, sans-serif; }
.complete-overview p.notes i.glyphicon { color: #aaa; margin-right: 4px; }
.complete-overview p.notes i.count { color: #5BC0DE; margin-right: 4px; font-style: normal; font-weight: bold; }
.complete-overview p.notes i.text { margin-left: 2px; color: #666; font-style: normal; }

/* Reservation list */
.reservation-overview ul { list-style-type: none; margin: 0; padding: 0; border-bottom: 2px solid #eee; }
.reservation-overview li { border-top: 1px solid #eee; padding: 6px 0; }
.reservation-overview i  { font-size: 90%; margin-right: 6px; width: 14px; }
.reservation-overview h3 { padding: 0; font-size: 16px; margin: 5px 0; line-height: 140%; }
.reservation-overview h3 i.glyphicon { opacity: 0.6; color: #FF2D55; margin-right: 1px; }
.reservation-overview h3 .code { font-style: normal; color: #FF2D55; font-weight: bold; font-size: 17px; font-family: Georgia, sans-serif; }
.reservation-overview h3 .price { color: #91B609; font-size: 80%; font-family: Georgia, serif; font-weight: bold; }
.reservation-overview h3 .title { font-weight: normal; font-style: italic; font-family: Georgia, sans-serif; margin-left: 6px; margin-right: 4px; }
.reservation-overview h4 { margin: 5px 0; padding: 0; font-size: 15px; color: #269ABC; margin-right: 10px; line-height: 140%; float: left; width: 160px; }
.reservation-overview p  { color: #aaa; font-style: italic; font-size: 12px; font-family: Georgia, serif; margin: 0; padding: 0; }
.reservations blockquote { margin: 20px 0 10px 0; }
.reservations blockquote em { font-weight: bold; font-family: Georgia, serif; }
@media only screen and (max-width : 480px) {
	.reservation-overview h4 { float: none; width: auto; }
}

/* Login */
.login-screen { background: rgba(52,170,220,0.98); }
.login-screen h1 { font-family: "Lobster Two", Helvetica, sans-serif; color: #eee; text-align: center; margin: 0 0 20px 0; padding: 0; font-size: 50px; text-shadow: 0 2px 3px rgba(0,0,0,.2); }
.login-screen h1 i { font-size: 80%; color: #FFCB00; margin-right: 4px; }
.login-screen header { display: none; }
.login-screen form { width: 280px; margin: 0 auto; }
.login-screen label { color: #eee; text-shadow: 0 1px 0 rgba(0,0,0,.1); }
.login-screen .form-actions { text-align: center; padding: 30px 0 20px 0; }

/* Stats */
.spent-range-picker { padding: 20px 0 0 0; }
.spendings ol { margin: 20px 0 30px 0; }
.spendings li { margin: 10px 0; }
.spendings .money { color: #91B609; font-family: Georgia, serif; font-weight: bold; margin-left: 6px; }
